<header>
    <div class="nav-component">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/assets/web-images/logo.png" width="100" height="50" class="d-inline-block align-middle"
                    alt=""> <span class="shop-title">
                    ARKADEMY <span style="color: black;">
                        COFFEE SHOP
                    </span>
                </span>
            </a>

            <button data-toggle="modal" data-target="#exampleModal" type="button" class="add-btn">ADD</button>
        </nav>
    </div>
</header>